attrs==21.4.0
greenlet==1.1.2
iniconfig==1.1.1
packaging==21.3
parameterized==0.8.1
pip==22.1.2
pluggy==1.0.0
py==1.11.0
pydantic==1.9.1
pymessagebus==1.2.3
pyparsing==3.0.9
pytest==7.1.2
setuptools==60.2.0
SQLAlchemy==1.4.37
tomli==2.0.1
typing-extensions==4.2.0
wheel==0.37.1
fastapi==0.78.0
dependency-injector==4.39.1
